<meta charset="UTF-8">

   <div class=large><font color=blue>練練華語</font></div>

   <a href=question_template.htm><img width=15% src=https://img.icons8.com/dusk/64/000000/1.png><font size=16px>蹲馬步</font></a>
   <a href=/question/2/1><img width=15% src="https://img.icons8.com/dusk/64/000000/2-circle.png"><font size=16px>飛簷走壁</font></a>
   <a href=/question/3/1><img width=15% src="https://img.icons8.com/dusk/64/000000/3-circle--v1.png"><font size=16>獨孤求敗</font></a>

   <div class=license>
   <a href="https://icons8.com/icon/47072/circled-2">Circled 2 icon by Icons8</a>
   </div>

