<meta charset="UTF-8">

<h3><font color=#21618c>請點選正確的句子：</font></h3>
<h3><font color=#21618c>Qǐng diǎnxuǎn zhèngquè de jùzi:</font></h3>

<table>
<tr><td>

<form method=GET action=wrong_template.htm>
<h4>
</h4>
<input type=radio name=radio value=A>我們先洗澡再刷牙。<br>
				    'Wǒmen xiān xǐzǎo zài shuāyá。'<br>
    <br>
    <input type=radio name=radio value=B>'我們 一 洗澡 就 刷牙。'<br>
				         'Wǒmen yì xǐzǎo jiù shuāyá'<br>
     <br>
     <input type=submit>
</form>

</td>

<td>&nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp; </td>

<td>
    <img width=600px src=11.png>
</td>

</tr>
</table>

